<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Removed -->
  </configSections>
  <appSettings>
    <!-- Removed -->
  </appSettings>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTHS" loginUrl="Login.aspx" protection="All" path="/" timeout="30" slidingExpiration="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <!-- Removed -->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" defaultRedirect="500.aspx">
      <error statusCode="403" redirect="403.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
      <error statusCode="500" redirect="500.aspx"/>
      <error statusCode="504" redirect="504.aspx"/>
      <error statusCode="505" redirect="505.aspx"/>
    </customErrors>-->
    <trust level="Full"/>
    <!-- Need protocol tags to avoid request errors -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Removed -->
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>